@font-face {
  font-family: 'CocoSharp ExtraBold';
  src: url('../../coco-sharp/Coco-Sharp-Extrabold-trial.ttf');
}

@font-face {
  font-family: 'CocoSharp Bold';
  src: url('../../coco-sharp/Coco-Sharp-Bold-trial.ttf');
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('../../Gilroy/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url('../../Gilroy/Gilroy-Regular.ttf');
}

.main {
  background: linear-gradient(180deg, #8FA2E0 0%, #3662f1 100%);
  padding: 60px 0px 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105vh;
  color: #F7F3F7;
  width: 100%;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0 53px 20px;
}

.text-content {
  max-width: 50%;
}

.text-content h1 {
  margin-top: 100px;
  line-height: 1.2;
  margin-bottom: 15px;
  font-family: 'CocoSharp Bold', sans-serif;
  font-size: 53px;
}

.text-content p {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 30px;
  font-family: 'Gilroy Regular';
}

.btn.get-started {
  cursor: pointer;
  margin-left: 0px;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px #ffffff9d;
  color: #5576E1;
  font-family: "CocoSharp Bold";    
  font-size: 25px;
}

.btn.get-started:hover {
  background-color: #6c63ff;
  color: #F7F3F7;
}

.image-content {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 21px;
}

.image-content img {
  max-width: 100%;
  height: 100vh;
  width: 100%;
  display: block;
}

.lower-block {
  background-color: #FFFDFF;
  padding: 60px 30px;
  width: 100%;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
  gap: 25px; /* Add this to create space between the cards */
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 6px -3px #908177;
  padding: 20px;
  padding-right: 0px;
  width: 32%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35%;
}

.card-title img {
  width: 54.5px;
  height: 100px;
  align-self: center;
}

.card-title img.changeToYellow{
  filter: invert(91%) sepia(57%) saturate(4755%) hue-rotate(332deg) brightness(94%) contrast(93%);
}

.card h3 {
  font-family: 'CocoSharp Bold', sans-serif;
  color: #464646;
  font-size: 23px;
  margin-bottom: 10px;
}

.card p {
  font-family: 'Gilroy Regular';
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.btn.card-btn {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 7px 23px;
  border-radius: 13px;
  border: none;
  background-color: #8FA2E0;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0 0 10px #00000026;
  font-family: 'CocoSharp Bold', sans-serif;
  margin-left: 0px;
}

.btn.card-btn.green {
  background-color: #34a853;
}

.btn.card-btn.yellow{
  background-color: #D08FE0;
}


.footer {
  background-color: #8FA2E0;
  text-align: center;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-family: 'Gilroy Medium';
  color: white;
  font-size: 16px;
}

.transition-div{
  background-color: #f7f7f7;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-only {
  display: none;
}


@media (max-width: 768px) {
  .transition-div{
    height: 50px;
  }

  .image-content {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .line-break-mobile {
    display: block;
  }

  .text-content h1 {
    font-size: 42px;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .text-content{
    max-width: 100%;

  }

  .main{
    height: 95vh;
    padding: 0px;
    padding-top: 30px;
  }

  .main-container{
    padding: 0px 30px;
  }

  .text-content p{
    font-size: 15px;
    margin-bottom :0px;
  }

  .get-started{
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .additional-info{
    margin-bottom: 0px;
  }

  .card-container{
    flex-direction: column;
    gap: 25px;
  }

  .lower-block{
    padding:  15px;
    padding-bottom: 30px;
  }

  .card{
    width: 100%;
    padding-top: 10px;
  }

  .card p{
    padding-right: 30px;
    font-size: 13px;
    margin-bottom: 15px;
  }

  .card-title{
    padding-top: 5px;
    width: 100%;
    justify-content: space-between;
  }

  .card-title h3{
    font-size: 21px;
  }

  .card-title img {
    width: 37px;
    height: 90px;
  }

}

@media (min-width: 1460px) and (max-width: 2150px) {
  .image-content img {
    max-width: 100%;
    height: 100vh;
    width: 100%;
    display: block;
  }

  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2100px;
    margin: 0 auto;
    padding: 50px 0 53px 20px;
  }
}

