@font-face {
    font-family: 'CocoSharp ExtraBold';
    src: url('../../coco-sharp/Coco-Sharp-Extrabold-trial.ttf');
  }
  
  @font-face {
    font-family: 'CocoSharp Bold';
    src: url('../../coco-sharp/Coco-Sharp-Bold-trial.ttf');
  }
  
  @font-face {
    font-family: 'Gilroy Medium';
    src: url('../../Gilroy/Gilroy-Medium.ttf');
  }
  
  @font-face {
    font-family: 'Gilroy Regular';
    src: url('../../Gilroy/Gilroy-Regular.ttf');
  }

  .nutrition-plan {
    background-color: #F7F3F7;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 40px;
    margin-top: 50px;
  }
  
  .nutrition-plan-cont{
    background-color: white;
    border-radius: 20px;
    padding: 20px 40px;
  }

  .plan-title {
    font-size: 32px;
    width: 60%;
    font-family: 'CocoSharp Bold', sans-serif;
    font-weight: bold;
    color: #464646;
  }

  .separator{
    height: 1px;
    background-color: #D6D6D6;
    margin-bottom: 30px;
  }
  
  .meal-plan {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .day-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    min-width: 280px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .day-card h2 {
    background-color: #8FA2E0;
    padding: 14px 20px;
    margin: -20px -20px 20px -20px;
    border-radius: 8px 8px 0 0;
    color: white;
    font-size: 17px;
    font-family: 'Gilroy Medium';
    text-transform: uppercase;
  }
  
  .day-card p {
    margin: 10px 0;
    font-family: 'Gilroy Regular';
    font-size: 15px;
  }
  
  .product-list {
    margin-bottom: 20px;
  }
  
  .product-list h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'CocoSharp Bold', sans-serif;
    color: #464646;
  }
  
  .product-list table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Gilroy Regular';
  }
  
  .product-list th, .product-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .product-list th {
    background-color: #f2f2f2;
  }
  
  .summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .total-cost, .carbohydrates {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .total-cost h3, .carbohydrates h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'CocoSharp Bold', sans-serif;
    color: #464646;
  }
  
  .total-cost p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #464646;
    font-family: 'Gilroy Regular';
  }
  
  .total-cost button {
    background-color: #8FA2E0;
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Gilroy Medium';
    font-size: 20px;
    border-radius: 10px;
  }
  
  .total-cost button:hover {
    background-color: #004999;
  }
  
  .carbohydrates p {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Gilroy Regular';
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  footer p {
    color: #666;
  }



  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
  @media (max-width: 844px)  {

    .nutrition-plan {
      background-color: #F7F3F7;
      width: 100%;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 30px 10px;
      margin-top: 50px;
    }
    
    .nutrition-plan-cont{
      background-color: white;
      border-radius: 20px;
      padding: 20px 30px;
    }

    .plan-title {
      font-size: 23px;
      width: 100%;
      font-family: 'CocoSharp Bold', sans-serif;
      font-weight: bold;
      color: #464646;
    }

    .product-list h2 {
      font-size: 23px;
      margin-bottom: 10px;
      font-family: 'CocoSharp Bold', sans-serif;
      color: #464646;
    }
    
    
    .day-card {
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      flex: 1;
      min-width: 100%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      max-height: 200px;
      min-height: 0px;
    }

    .day-card h2 {
      background-color: #8FA2E0;
      padding: 14px 20px;
      margin: -20px -20px 20px -20px;
      border-radius: 8px 8px 0 0;
      color: white;
      font-size: 17px;
      font-family: 'Gilroy Medium';
      text-transform: uppercase;
      /* width: 100%; */
    }

    .total-cost, .carbohydrates {
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      flex: 1;
      margin-right: 0px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }